body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-color: var(--clr-bg-color);
}

#container {
  height: 60vw;
  width: 60vw;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

button, input {
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  body {
    flex-direction: row;
  }
}
