body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-color: var(--clr-bg);
}

#container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  height: min(80rem, 80vw);
  width: min(80rem, 80vw);
  background-color: #fff;
  border: 1rem solid var(--clr-border);
}

button, input {
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  body {
    flex-direction: row;
  }
}
