.sketch-size {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.sketch-size div {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: clamp(1.2rem, 1.4rem, 2vw);
}

.size-value {
  font-size: clamp(2rem, 2.5rem, 2vw);
}

input[type=range] {
  background-color: transparent;
}

input[type=range]::-moz-range-track {
  height: 5px;
  background: #48505E;
  border-radius: 50px;
}

input[type=range]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50px;
  border-style: none;
  background: #9AA0AA;
  transition: background .2s ease-in;
}

input[type=range]::-moz-range-thumb:hover {
  background: var(--clr-btn-hover);
}